/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include "keys_de.h"

// https://zmk.dev/docs/keymaps/list-of-keycodes#consumer-controls
// https://github.com/Dakes/zmk-config/blob/9ba19caeebd6c74502f16ab85ae02a5b663e20b0/config/keymap-german-rev3.h#L39

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

/ {
    behaviors {
        ht_sticky: hold_tap_sticky {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&sk>;
        };

        mm_bspc_del: mod_morph_backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // German umlauts with proper shift support

        mm_a_umlaut: mod_morph_a_umlaut {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DE_A_UMLAUT>, <&kp RS(DE_A_UMLAUT)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_o_umlaut: mod_morph_o_umlaut {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DE_O_UMLAUT>, <&kp RS(DE_O_UMLAUT)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_u_umlaut: mod_morph_u_umlaut {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DE_U_UMLAUT>, <&kp RS(DE_U_UMLAUT)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_e_euro: mod_morph_e_euro {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp E>, <&kp DE_EURO>; // Apple ISO: € is AltGr+E
            mods = <(MOD_LALT)>;
            // E €
        };

        mm_d_dollar: mod_morph_d_dollar {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp D>, <&kp DOLLAR>;

            mods = <(MOD_LALT)>;

            // D $
        };

        mm_p_para: mod_morph_p_para {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp P>, <&kp DE_SECTION>;
            mods = <(MOD_LALT)>;
            // P §
        };

        mm_s_eszett: mod_morph_s_eszett {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp S>, <&kp DE_SZ>;
            mods = <(MOD_LALT)>;
            // S ß
        };

        mm_l_at: mod_morph_l_at {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp L>, <&kp DE_AT>; // Apple ISO: @ is AltGr+L
            mods = <(MOD_LALT)>;
            // L @
        };

        mm_a_umlaut_key: mod_morph_a_umlaut_key {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp A>, <&mm_a_umlaut>;
            mods = <(MOD_LALT)>;
            // A ä/Ä
        };

        mm_o_umlaut_key: mod_morph_o_umlaut_key {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp O>, <&mm_o_umlaut>;
            mods = <(MOD_LALT)>;
            // O ö/Ö
        };

        mm_u_umlaut_key: mod_morph_u_umlaut_key {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp U>, <&mm_u_umlaut>;
            mods = <(MOD_LALT)>;
            // U ü/Ü
        };

        mm_enter_esc: mod_morph_enter_esc {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp ENTER>, <&kp ESCAPE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_comma_semi: mod_morph_comma_semi {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DE_COMMA>, <&kp DE_SEMICOLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_dot_colon: mod_morph_dot_colon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DE_DOT>, <&kp DE_COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_minus_under: mod_morph_minus_under {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DE_MINUS>, <&kp DE_UNDER>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        td_curly: tap_dance_curly {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp RA(N8)>, <&kp RA(N9)>;
        };

        td_paren: tap_dance_paren {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DE_LEFT_PARENTHESIS>, <&kp DE_RIGHT_PARENTHESIS>; // ( = LS(N8), ) = LS(N9)
        };

        td_bracket: tap_dance_bracket {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp RA(N5)>, <&kp RA(N6)>;
        };

        td_angle: tap_dance_angle {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DE_LESS_THAN>, <&kp DE_GREATER_THAN>;
        };

        mm_question_excl: mod_morph_question_excl {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DE_QMARK>, <&kp DE_EXCL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    macros {
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTZ";
            bindings = <
&ht_sticky LALT LALT      &kp DE_Q             &kp DE_W         &mm_e_euro  &kp DE_R  &kp DE_T    &trans  &trans  &kp DE_Z      &mm_u_umlaut_key  &kp DE_I           &mm_o_umlaut_key  &mm_p_para         &mm_enter_esc
&ht_sticky LSHIFT LSHIFT  &mm_a_umlaut_key  &mm_s_eszett  &mm_d_dollar       &kp DE_F  &kp DE_G    &trans  &trans  &kp DE_H      &kp DE_J             &kp DE_K           &mm_l_at          &mm_minus_under    &ht_sticky RSHIFT RSHIFT
&ht_sticky LCTRL LCTRL    &kp DE_Y             &kp DE_X         &kp DE_C       &kp DE_V  &kp DE_B                    &kp DE_N      &kp DE_M             &mm_comma_semi  &mm_dot_colon     &mm_question_excl  &ht_sticky RCTRL RCTRL
                                                          &kp LCMD    &mo 1  &kp TAB                  &kp SPACE  &mo 2             &mm_bspc_del
            >;
        };

        lower_layer {
            display-name = "NUMBER";
            bindings = <
&trans  &trans  &td_angle   &td_bracket  &td_paren  &td_curly  &trans  &trans  &kp DE_ASTERISK  &kp N1  &kp N2  &kp N3  &kp DE_PLUS       &kp DE_EQUAL
&trans          &trans  &trans  &trans     &kp DE_BACKSLASH   &kp DE_PIPE   &trans  &trans  &kp DE_SLASH   &kp N4  &kp N5  &kp N6  &kp DE_MINUS      &kp DE_HASH
&trans          &kp DE_DEGREE  &kp DE_TILDE   &kp DE_GRAVE    &kp DE_SINGLE_QUOTE    &kp DE_DOUBLE_QUOTES                    &kp DE_CARET  &kp N7  &kp N8  &kp N9  &kp DE_AMPERSAND  &kp DE_PERCENT
                                    &trans       &trans     &trans                     &trans     &kp N0  &trans
            >;
        };

        raise_layer {
            display-name = "SYMBOL";
            bindings = <
&trans  &trans  &kp END          &kp UP    &kp HOME          &kp PG_UP  &trans  &trans  &trans  &kp F1   &kp F2  &kp F3  &trans   &trans
&trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &kp PG_DN  &trans  &trans  &trans  &kp F4   &kp F5  &kp F6  &trans   &trans
&trans  &trans  &trans          &trans          &trans          &trans                  &trans  &kp F7   &kp F8  &kp F9  &kp F11  &kp F12
                                &trans          &trans          &trans                  &trans  &kp F10  &trans
            >;
        };

        extra_layer_1 {
            display-name = "EXTRA 1";
            bindings = <
&bt BT_CLR  &bootloader  &sys_reset  &trans  &trans  &trans  &trans  &trans  &trans  &bt BT_SEL 0    &bt BT_SEL 1     &bt BT_SEL 2  &trans  &kp C_VOLUME_UP
&trans      &trans       &trans      &trans  &trans  &trans  &trans  &trans  &trans  &bt BT_SEL 3    &bt BT_SEL 4     &trans        &trans  &kp C_MUTE
&trans      &trans       &trans      &trans  &trans  &trans                  &trans  &studio_unlock  &rgb_ug RGB_TOG  &trans        &trans  &kp C_VOLUME_DOWN
                                     &trans  &trans  &trans                  &trans  &trans          &trans
            >;
        };
    };
};